.my_icon{
	width:24px;
}
.user_show_table{
	max-width: 1000px;
	margin: 0px auto;
}
.user_show_table table{
	width: 100%;
	

}
/*.user_show_table table thead tr{
	background-color: #A39F9F;
	color: #fff;
}
.user_show_table table thead tr th{
border-right: 1px solid #fff;
text-align: center;
}
.table_hd th:last-child{
	border-right: 0px;
}
.user_show_table table tbody tr td{
	border-right: 1px solid #000;
	padding: 2px 5px;
}*/

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  }  
  th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }

  .add_slide form{
	width: 400px;
	margin: 0px auto
}
.add_slide label{
	width: 100%;
	padding: 8px 0px;
	background: inherit;
	border: 0px;
	font-size: 16px;
}
.add_slide input[type='text'],.add_slide input[type='email'],.add_slide input[type='password']{
	width: 100%;
	height: 40px;
}


.btn {
  background: #71c569;
  background-image: -webkit-linear-gradient(top, #71c569, #4b8f43);
  background-image: -moz-linear-gradient(top, #71c569, #4b8f43);
  background-image: -ms-linear-gradient(top, #71c569, #4b8f43);
  background-image: -o-linear-gradient(top, #71c569, #4b8f43);
  background-image: linear-gradient(to bottom, #71c569, #4b8f43);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7dff6e;
  background-image: -webkit-linear-gradient(top, #7dff6e, #53ad47);
  background-image: -moz-linear-gradient(top, #7dff6e, #53ad47);
  background-image: -ms-linear-gradient(top, #7dff6e, #53ad47);
  background-image: -o-linear-gradient(top, #7dff6e, #53ad47);
  background-image: linear-gradient(to bottom, #7dff6e, #53ad47);
  text-decoration: none;
}

.ui-widget-header{
	background: #71c569;
	background-image: -webkit-linear-gradient(top, #71c569, #4b8f43);
	background-image: -moz-linear-gradient(top, #71c569, #4b8f43);
	background-image: -ms-linear-gradient(top, #71c569, #4b8f43);
	background-image: -o-linear-gradient(top, #71c569, #4b8f43);
	background-image: linear-gradient(to bottom, #71c569, #4b8f43);
	border:0px;
}

.btn2 {
  background: #369ee3;
  background-image: -webkit-linear-gradient(top, #369ee3, #3584b5);
  background-image: -moz-linear-gradient(top, #369ee3, #3584b5);
  background-image: -ms-linear-gradient(top, #369ee3, #3584b5);
  background-image: -o-linear-gradient(top, #369ee3, #3584b5);
  background-image: linear-gradient(to bottom, #369ee3, #3584b5);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn2:hover {
  background: #2d80b3;
  background-image: -webkit-linear-gradient(top, #2d80b3, #1a4966);
  background-image: -moz-linear-gradient(top, #2d80b3, #1a4966);
  background-image: -ms-linear-gradient(top, #2d80b3, #1a4966);
  background-image: -o-linear-gradient(top, #2d80b3, #1a4966);
  background-image: linear-gradient(to bottom, #2d80b3, #1a4966);
  text-decoration: none;
}


.bck_btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bck_btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  text-decoration: none;
}
.alert {
text-align: center;
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-top: 10px;
}
.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}
.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.alert-heading {
color: inherit;
}

.alert .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
float: right;
font-size: 18px;
}
.alert-success a{
	color: #468847;
}.alert-error a,.alert-danger a{
	color: #b94a48;
}


.all_label{
  margin-top: 10px !important;
}

.select_input{
  margin-top: 5px !important;
  height: 40px !important;
  background-color: #ffffff !important;
}
.register-switch{

  margin-top: 5px;
}